<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body>
    <h1>The Solar System</h1>

    <%- include("partials/nav.ejs") %>>

    <h2>Planet Mars</h2>

    <img
        src="<%= planetMars.image %>"
        alt="Planet Mars"
    >

    <p>
        <strong>Description:</strong>
        <%= planetMars.description %>
    </p>

    <p>
        <strong>Moons:</strong>
        <%= planetMars.moons %>
    </p>

    <%- include("partials/footer.ejs") %>    
</body>
</html>